/* Interface stylesheet for Javascript ROOT Web Page. */

* { padding: 0; margin: 0; }
* html, body { height: 100%; }

body, textarea {
   font-family: "lucida sans", verdana, arial, helvetica, sans-serif;
   font-size: 80%;
}

h1 { font-size: 20pt }
h2 { font-size: 18pt; font-weight:bold; color: navy }
h3 { font-size: 16pt; font-weight:bold; color: #483d8b }
h4 { font-size: 14pt; font-weight:bold; color:#C71585; margin-bottom:2px; margin-top:8px; }
h5 { font-size: 10pt; font-weight:bold; color:#6495ED; margin-bottom:2px; }
h6 { font-size: 10pt; font-weight:bold; color:navy }

body {
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
}

textarea { font-size: 100%;}

p { margin-top: 6px; padding: 0 10px 1em; }

#main { left: 3px; right: 76%; overflow: auto; }

#dabc_draw { height:100%; }

#status { font-size:70%; }

#DabcPainterHolder {
   left: 25%;
   right: 3px;
   overflow: auto;
   font-size:9pt;font-weight:normal;color:#191970;
}

div.column {
   border: 1px dotted #666;
   background-color: #E6E6FA;
   position: absolute;
   top: 3px;
   bottom: 3px;
   padding: 8px;
}

input.tb {
   margin-left: 8px;
   margin-right: 8px;
   width: 94%;
}

.basic div {
   background-color: #eee;
}

#overlay {
   z-index:1000;
   position:absolute;
   border: 1px solid #7777ff;
   bottom:1px;
   left:3px;
   background:#ddddff;
   opacity:0.6;
   -moz-opacity:0.6;
}

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landrö               |
|--------------------------------------------------*/

.dtree {
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666;
   white-space: nowrap;
}
.dtree img {
   border: 0px;
   vertical-align: middle;
}
.dtree a {
   color: #333;
   text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
   white-space: nowrap;
   padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
   color: #333;
   text-decoration: underline;
}
.dtree a.nodeSel {
   background-color: #c0d2ec;
}
.dtree .clip {
   overflow: hidden;
}

/*--------------------------------------------------|
| context menu                                      |
|--------------------------------------------------*/


.ctxmenu
{
  position:absolute;   
  min-width:64px;
  height:auto;
  padding: 4px;
  margin:0;
  margin-left:0px;
  margin-top:0px;
  border: 1px solid #999;
  background: #F8F8F8;
  box-shadow: 2px 2px 2px #AAA;
  z-index:11;
  overflow: visible;
}
.ctxline
{
  display:block;
  margin:0px;
  padding:2px 2px 2px 8px;
  border:1px solid #F8F8F8;
  border-radius:3px;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  overflow:visible;
}
.ctxline:hover
{
  border:1px solid #BBB;
  background-color: #F0F0F0;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
    from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
    endColorstr='#e6e6e6', GradientType=0);
}

/*--------------------------------------------------|
| tooltip style                                     |
|--------------------------------------------------*/

#tt {
   position:absolute;
   display:block;
}
#tttop {
   display:block;
   height:5px;
   margin-left:5px;
   overflow:hidden;
}
#ttcont {
   display:block;
   padding:2px 12px 3px 7px;
   margin-left:5px;
   font-size: 11px;
   background:#777;
   color:#fff;
}
#ttbot {
   display:block;
   height:5px;
   margin-left:5px;
   overflow:hidden;
}


/* from JSRootD3Painter */
.xaxis path, .xaxis line, .yaxis path, .yaxis line, .zaxis path, .zaxis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
rect.zoom {
    stroke: steelblue;
    fill-opacity: 0.1;

}
/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }

