# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @guitargeek @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet @dpiparo
/fonts/ @bellenot @linev
/geom/ @agheata
/graf2d/ @couet @linev
/graf3d/ @couet @linev
/gui/ @bellenot @linev
/hist/ @hageboeck @guitargeek
/hist/histv7/ @hahnjo @hageboeck
/hist/histv7util/ @hahnjo @hageboeck
/icons/ @bellenot @linev
/interpreter/ @dpiparo @hahnjo
/interpreter/llvm-project/ @vgvassilev @hahnjo
interpreter/cling/tools/packaging @vgvassilev @hahnjo
/io/ @pcanal @jblomer
/io/xml/ @pcanal @linev
/main/ @pcanal @dpiparo
/math/ @hagebeck @guitargeek
/math/minuit @guitargeek @hagebock
/math/minuit2 @guitargeek @hagebock
/math/vecops @dpiparo @hagebock
/misc/ @dpiparo @hagebock
/montecarlo/ @dpiparo @hagebock
/net/ @dpiparo @jblomer
/roofit/ @guitargeek @hagebock
/rootx/ @dpiparo @guitargeek
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal @jblomer
/tutorials/ @couet @dpiparo
/tree/dataframe/ @vepadulano @hagebock
/tree/ml/ @vepadulano @siliataider
/tree/readspeed/ @vepadulano @hagebock
/tree/ntuple/ @jblomer @silverweed
/tree/ntuplebrowse/ @jblomer @silverweed
/tree/ntupleutil/ @jblomer @silverweed
/tutorials/sql/ @linev

# Projects that span over several code modules:
/core/imt/ @dpiparo @hagebock
/core/multiproc/ @dpiparo @hagebock
/graf2d/cocoa/ @couet @linev
/graf3d/eve/ @osschar @linev
/graf3d/eve7/ @osschar @linev
/tutorials/visualisation/eve/ @osschar @linev
/tutorials/visualisation/eve7/ @osschar @linev

# Different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt6webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browsable/ @bellenot @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/tree/webviewer/ @linev
/geom/webviewer/ @linev
/ui5/ @linev
/tutorials/rcanvas/ @linev
/tutorials/visualisation/webgui/ @linev

# CMake infra
/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
