# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Dictionary source files
G__*.c
G__*.cxx
G__*.h
etc/allDict.cxx
etc/allDict.h
rootcint_*.cxx
rootcint_*.h

# Other Stuff
*.d

# /
/bin
/lib
/include
/config.status
/config.log
/work.pc
/work.pcl
/.def
/build-arch-stamp
/build-indep-stamp
/build-arch-cint-stamp
/configure-stamp
/debian
/log
/semantic.cache
/.gdb_history
/buildtools
/roottest
/*.mk

# cint/cint
cint/cint/inc/configcint.h
cint/cint/include/iosenum.h
cint/cint/include/sys/types.h
cint/cint/include/systypes.h
cint/cint/lib/posix/mktypes
cint/cint/lib/posix/mktypes.dSYM
cint/cint/main/cint_tmp
cint/cint/src/loadfile_tmp.cxx

# /README/
/README/ChangeLog

# /build/misc/
/build/misc/root-help.el

# /config/
/config/Makefile.config
/config/Makefile.comp

# /core/lzma/src/
/core/lzma/src/xz-5.0.3

# /core/metautils/src/
/core/metautils/src/stlLoader_set.cc
/core/metautils/src/stlLoader_map2.cc
/core/metautils/src/stlLoader_multimap2.cc
/core/metautils/src/stlLoader_list.cc
/core/metautils/src/stlLoader_multimap.cc
/core/metautils/src/stlLoader_vector.cc
/core/metautils/src/stlLoader_deque.cc
/core/metautils/src/stlLoader_multiset.cc
/core/metautils/src/stlLoader_map.cc
/core/metautils/src/stlLoader_valarray.cc
/core/metautils/src/stlLoader_complex.cc

# /core/pcre/src/
/core/pcre/src/pcre-7.8

# /core/utils/src/
/core/utils/src/rootcint_tmp
/core/utils/src/rootcint_tmp.exp
/core/utils/src/rootcint_tmp.lib
/core/utils/src/rootcint_tmp.pdb
/core/utils/src/rootcint_tmp.cxx
/core/utils/src/rootcint_tmp.exe
/core/utils/src/rootcling_tmp
/core/utils/src/rootcling_tmp.cxx
/core/utils/src/RStl_tmp.cxx
/core/utils/src/RConversionRuleParser_tmp.cxx

# /docbook/primer/
/docbook/primer/primer.tex
/docbook/primer/primer.html
/docbook/primer/primer.pdf
/docbook/primer/primer.epub

# /docbook/users-guide/
/docbook/users-guide/ROOTUsersGuide.html
/docbook/users-guide/ROOTUsersGuide.pdf

# /etc/
/etc/system.rootrc
/etc/system.rootmap
/etc/system.rootauthrc
/etc/system.rootdaemonrc
/etc/root.mimes
/etc/gitinfo.txt
/etc/cling
/etc/allDict.cxx.pch
/etc/allDict.cxx.h

# /etc/daemons/
/etc/daemons/rootd.rc.d
/etc/daemons/rootd.xinetd
/etc/daemons/proofd.rc.d
/etc/daemons/proofd.xinetd
/etc/daemons/olbd.rc.d
/etc/daemons/xrootd.rc.d

# /etc/proof/
/etc/proof/proof.conf
/etc/proof/xpd.cf
/etc/proof/motd

# /etc/proof/proofbench/
/etc/proof/proofbench/ProofBenchCPUSel.par
/etc/proof/proofbench/ProofBenchDataSel.par

# /graf2d/asimage/src/libAfterImage/
/graf2d/asimage/src/libAfterImage/config.h
/graf2d/asimage/src/libAfterImage/Makefile
/graf2d/asimage/src/libAfterImage/config.status
/graf2d/asimage/src/libAfterImage/afterimage-libs
/graf2d/asimage/src/libAfterImage/afterimage-config
/graf2d/asimage/src/libAfterImage/config.log
/graf2d/asimage/src/libAfterImage/libAfterImage.a

# /graf2d/freetype/src/
/graf2d/freetype/src/freetype-2.3.12

# /graf2d/qt/src/
/graf2d/qt/src/moc_*.cxx

# /graf2d/win32gdk/gdk/src/gdk/
/graf2d/win32gdk/gdk/src/gdk/gdk-1.3.exp
/graf2d/win32gdk/gdk/src/gdk/gdk-1.3.lib

# /graf2d/win32gdk/gdk/src/gdk/win32/
/graf2d/win32gdk/gdk/src/gdk/win32/gdk-win32.lib
/graf2d/win32gdk/gdk/src/gdk/win32/gdk.res

# /gui/fitpanel/test/
/gui/fitpanel/test/outputUnitTesting.txt
/gui/fitpanel/test/UnitTesting

# /gui/qtgsi/src/
/gui/qtgsi/src/moc_*

# /interpreter/cling/lib/UserInterface/
/interpreter/cling/lib/UserInterface/textinput

# /interpreter/llvm/
/interpreter/llvm/obj
/interpreter/llvm/inst

# /interpreter/llvm/src/utils/lit/lit/
/interpreter/llvm/src/utils/lit/lit/*.pyc

# /interpreter/llvm/src/utils/llvm-build/llvmbuild/
/interpreter/llvm/src/utils/llvm-build/llvmbuild/util.pyc
/interpreter/llvm/src/utils/llvm-build/llvmbuild/componentinfo.pyc
/interpreter/llvm/src/utils/llvm-build/llvmbuild/__init__.pyc
/interpreter/llvm/src/utils/llvm-build/llvmbuild/configutil.pyc
/interpreter/llvm/src/utils/llvm-build/llvmbuild/main.pyc

# /macros/
/macros/html.C

# /main/src/
/main/src/roots.sh
/main/src/proofserv.sh

# /math/genetic/
/math/genetic/

# /math/genetic/test/
/math/genetic/test/testGAMinimizer
/math/genetic/test/GAMinTutorial
/math/genetic/test/timeGA

# /math/genvector/test/
/math/genvector/test/*.log
/math/genvector/test/rotationApplication
/math/genvector/test/vectorOperation
/math/genvector/test/testVectorIO
/math/genvector/test/testGenVector
/math/genvector/test/TrackDict.h
/math/genvector/test/coordinates4D
/math/genvector/test/stress2D
/math/genvector/test/testBoost
/math/genvector/test/testIterator
/math/genvector/test/coordinates3D
/math/genvector/test/TrackDict.cxx
/math/genvector/test/stress3D

# /math/mathcore/test/
/math/mathcore/test/stressTMath
/math/mathcore/test/testIntegration
/math/mathcore/test/testSortOrder
/math/mathcore/test/testIntegrationMultiDim
/math/mathcore/test/binarySearchTime
/math/mathcore/test/stressTF1
/math/mathcore/test/stdsort
/math/mathcore/test/testSpecFuncBeta
/math/mathcore/test/testSpecFuncErf
/math/mathcore/test/testSpecFuncGamma
/math/mathcore/test/testBinarySearch
/math/mathcore/test/testRootFinder
/math/mathcore/test/testSpecFuncBetaI
/math/mathcore/test/testTMath
/math/mathcore/test/*.build.log

# /math/mathcore/test/fit/
/math/mathcore/test/fit/testFit
/math/mathcore/test/fit/testMinim
/math/mathcore/test/fit/testFitPerf
/math/mathcore/test/fit/testRooFit
/math/mathcore/test/fit/SparseDataComparer
/math/mathcore/test/fit/SparseFit3
/math/mathcore/test/fit/SparseFit4

# /math/mathmore/src/
/math/mathmore/src/gsl-1.5

# /math/mathmore/test/
/math/mathmore/test/testRandom.out
/math/mathmore/test/testIntegrationMultiDim
/math/mathmore/test/testInterpolation
/math/mathmore/test/testFunctor
/math/mathmore/test/testChebyshev
/math/mathmore/test/testIntegration
/math/mathmore/test/simanTSP
/math/mathmore/test/testRandom
/math/mathmore/test/testMinimization1D
/math/mathmore/test/testPermute
/math/mathmore/test/testSpecFunc
/math/mathmore/test/testRandomDist
/math/mathmore/test/testRootFinder
/math/mathmore/test/testDerivation
/math/mathmore/test/testStatFunc

# /math/minuit2/src/
/math/minuit2/src/Minuit-1_7_6

# /math/minuit2/test/
/math/minuit2/test/testMinimize
/math/minuit2/test/testUserFunc
/math/minuit2/test/testGraph
/math/minuit2/test/testNewMinimizer

# /math/minuit2/test/MnSim/
/math/minuit2/test/MnSim/test_Minuit2_ReneTest
/math/minuit2/test/MnSim/test_Minuit2_DemoGaussSim
/math/minuit2/test/MnSim/test_Minuit2_PaulTest2
/math/minuit2/test/MnSim/test_Minuit2_PaulTest3
/math/minuit2/test/MnSim/test_Minuit2_PaulTest4
/math/minuit2/test/MnSim/test_Minuit2_DemoFumili
/math/minuit2/test/MnSim/test_Minuit2_PaulTest

# /math/minuit2/test/MnTutorial/
/math/minuit2/test/MnTutorial/test_Minuit2_Quad1F
/math/minuit2/test/MnTutorial/test_Minuit2_Quad4F
/math/minuit2/test/MnTutorial/test_Minuit2_Quad8F
/math/minuit2/test/MnTutorial/test_Minuit2_Quad12F

# /math/smatrix/test/
/math/smatrix/test/*.log
/math/smatrix/test/testKalman
/math/smatrix/test/testOperations
/math/smatrix/test/testSMatrix
/math/smatrix/test/testIO
/math/smatrix/test/stressKalman
/math/smatrix/test/stressOperations
/math/smatrix/test/TrackDict.h
/math/smatrix/test/TrackDict.cxx

# /math/unuran/src/
/math/unuran/src/unuran-*-root

# /math/unuran/test/
/math/unuran/test/unuranSimple
/math/unuran/test/unuranDiscrete
/math/unuran/test/unuranHist
/math/unuran/test/unuranMulti2D
/math/unuran/test/unuranMultiDim
/math/unuran/test/unuranDistr
/math/unuran/test/*.build.log

# /misc/rootql/
/misc/rootql/build

# /misc/rootsl/
/misc/rootsl/build

# /net/globusauth/src/
/net/globusauth/src/globus_gsi_credential.c

# /proof/proofbench/src/
/proof/proofbench/src/ProofBenchCPUSel.par
/proof/proofbench/src/ProofBenchDataSel.par

# /roofit/
/roofit/inc
/roofit/src

# /test/
/test/linearIO.root
/test/tmpHist.root
/test/dt*.root
/test/Event*.root
/test/Event
/test/Event.exe
/test/EventDict.h
/test/EventDict.cxx
/test/EventMTDict.h
/test/EventMTDict.cxx
/test/event.par
/test/stress
/test/stress.exe
/test/stressEntryList
/test/stressEntryList.exe
/test/stressFit
/test/stressFit.exe
/test/stressGeometry
/test/stressGeometry.exe
/test/stressGraphics
/test/stressGraphics.exe
/test/stressGUI
/test/stressGUI.exe
/test/stressGUI.ref
/test/stressHepix
/test/stressHepix.exe
/test/stressHepix.log
/test/stressLinear
/test/stressLinear.exe
/test/stressMathCore
/test/stressMathCore.exe
/test/stressMathMore
/test/stressMathMore.exe
/test/stressProof
/test/stressProof.exe
/test/stressRooFit
/test/stressRooFit.exe
/test/stressShapes
/test/stressShapes.exe
/test/stressSpectrum
/test/stressSpectrum.exe
/test/stressTMVA
/test/stressTMVA.exe
/test/stressVector
/test/stressVector.exe
/test/stressIterators
/test/stressIterators.exe
/test/stressInterpreter
/test/stressInterpreter.exe
/test/stressHistogram
/test/stressHistogram.exe
/test/stressRooStats
/test/stressHistoFit
/test/AclockDict.cxx
/test/AclockDict.h
/test/HelloDict.cxx
/test/HelloDict.h
/test/QpRandomDriver
/test/TBenchDict.cxx
/test/TBenchDict.h
/test/TetrisDict.cxx
/test/TetrisDict.h
/test/bench
/test/bench.exe
/test/ctorture
/test/ctorture.exe
/test/guitest
/test/guitest.exe
/test/guiviewer
/test/guiviewer.exe
/test/guiviewerDict.cxx
/test/guiviewerDict.h
/test/hsimple
/test/hsimple.exe
/test/hworld
/test/hworld.exe
/test/minexam
/test/minexam.exe
/test/tcollbm
/test/tcollbm.exe
/test/tcollex
/test/tcollex.exe
/test/testbits
/test/testbits.exe
/test/tstring
/test/tstring.exe
/test/vlazy
/test/vlazy.exe
/test/vmatrix
/test/vmatrix.exe
/test/vvector
/test/vvector.exe
/test/threads
/test/threads.exe
/test/TrackMathCoreDict.*

# /test/ProofBench/
/test/ProofBench/build_trees.C
/test/ProofBench/event.par

# /test/RootIDE/
/test/RootIDE/RIDE
/test/RootIDE/RIDEDict.cxx
/test/RootIDE/RIDEDict.h

# /test/RootShower/
/test/RootShower/RootShower
/test/RootShower/RootShowerDict.cxx
/test/RootShower/RootShowerDict.h

# /tutorials/
/tutorials/hsimple.root
/tutorials/na49.root
/tutorials/fillrandom.root

# /tutorials/graphs/
/tutorials/graphs/gtime.root

# /tutorials/io/
/tutorials/io/exclusive.root
/tutorials/io/hsimple.root
/tutorials/io/mergeSelective.Chsimple.root
/tutorials/io/original.root
/tutorials/io/skipped.root

# /tutorials/tree/
/tutorials/tree/hvector.root
/tutorials/tree/cernstaff.root
/tutorials/tree/staff.root
