*.ipynb
*.pkl
*.pdf
*.json
callgrind.out.*
*.png
.ipynb_checkpoints/
__pycache__
tmp/
tmp2/
tmp3/
tmp4/
benchs
dataset/
files/
*.root
*.svm
./*.txt
*.txt
*.eps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
