/* custom attributes for items in Summary view*/
.eveSummaryItem {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.75rem;
}


/* adjustment for checkbox inside Summury view items */
.eveSummaryItem .sapMCb {
	height: 1.2rem;
	line-height: 1.2rem;
	padding-left: 1rem;
}

.eveSummaryItem .sapMCbBg {
	left: 0.3rem;
	top: 0.1rem;
	width: 0.6rem;
	height: 0.6rem;
}

.eveSummaryItem .sapMLIBSelectM {
	margin-right: 0;
	width: 1.6rem;
}

/* adjustment for button inside Summury view items */

.eveSummaryItem .sapMBtn {
	height: 1.2rem;
	padding: 0;
}

.eveSummaryItem .sapMBtnInner {
	height: 1.2rem;
	min-width: 1.6rem;
}

.eveSummaryItem .sapMBtnIcon {
	line-height: 1.2rem;
	max-height: 1.2rem;
}



/* Holder of GED editor */
 .eveGedHolder {
        font-size: 0.775rem;
        border_top: 0px !important;
        border_bottom: 1px !important;
        min_height: 0px !important;
        padding_top: 0px !important;
        padding_bottom: 1px !important;
        font-family: "72",Arial,Helvetica,sans-serif;
        font-size: 0.775rem;
}
.eveTableCellFiltered {
   color: black;
}

.eveTableCellUnfiltered {
   color: lightgray;
}

.eve_tooltip {
  position:      absolute;
  min-width:     50px;
  text-align:    left;
  padding:       4px 4px;
  font-family:   monospace;
  background:    #c0c0c0;
  display:       none;
  opacity:       80;
  border:        2px solid black;
  box-shadow:    2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  white-space:   pre;
}
