
 .eveTreeItem {
        font-size: 0.775rem;
        border_top: 0px !important;
        border_bottom: 1px !important;
        min_height: 0px !important;
        padding_top: 0px !important;
        padding_bottom: 1px !important;
        font-family: "72",Arial,Helvetica,sans-serif;
        font-size: 0.775rem; 
}