#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,3,9,BUILDNUMBER
  PRODUCTVERSION 1,3,9,0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
	VALUE "CompanyName", "The GLib developer community"
	VALUE "FileDescription", "GLib"
	VALUE "FileVersion", "1.3.9.BUILDNUMBER"
	VALUE "InternalName", "libglib-1.3-9"
	VALUE "LegalCopyright", "Copyright © 1995-1997 Peter Mattis, Spencer Kimball and Josh MacDonald. Modified by the GLib Team and others 1997-2000."
	VALUE "OriginalFilename", "libglib-1.3-9.dll"
	VALUE "ProductName", "GLib"
	VALUE "ProductVersion", "1.3.9"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END
