<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ch.cern.rootd</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/opt/root/bin/rootd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/root/bin/rootd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
	<string>rootd file transfer daemon</string>
</dict>
</plist>
