[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=root
Terminal=true
Name=ROOT
Name[de]=ROOT
Comment=An object-oriented data analysis framework
Comment[de]=Ein objektorientiertes Framework zur Datenanalyse
StartupNotify=true
MimeType=application/x-root;text/x-c++src
Categories=Science;Development;Application;
