*.o
*.lo
.libs
.deps
Makefile
Makefile.in
*.la
GNUmakefile.classic
aclocal.m4
autom4te.cache/
compile
config/GNUmake.rules.sunCC
config/GNUmake.rules.sunCCamd
config/GNUmake.rules.sunCCamd510
config/GNUmake.rules.sunCCamd64
config/GNUmake.rules.sunCCi86pc
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/
libtool
ltmain.sh
missing
src/GNUmake.env
src/GNUmake.options
src/Makefile_include
src/XrdAcc/XrdAccTest
src/XrdApps/mpxstats
src/XrdApps/wait41
src/XrdApps/xrdadler32
src/XrdClient/TestXrdClient
src/XrdClient/TestXrdClient_read
src/XrdClient/XrdClientAdmin_c_wrap.cc
src/XrdClient/xprep
src/XrdClient/xrd
src/XrdClient/xrdcp
src/XrdClient/xrdstagetool
src/XrdCms/cmsd
src/XrdCns/XrdCnsd
src/XrdCns/cns_ssi
src/XrdFrm/frm_admin
src/XrdFrm/frm_purged
src/XrdFrm/frm_xfragent
src/XrdFrm/frm_xfrd
src/XrdSec/testclient
src/XrdSec/testserver
src/XrdSecgsi/xrdgsiproxy
src/XrdSecpwd/xrdpwdadmin
src/XrdSecssl/xrdsecssltest
src/XrdSecsss/xrdsssadmin
src/XrdXrootd/xrootd
test/testconfig.sh
xrootd.spec

