/* ROOT CSS, Axel 2007-02-07 */

/*** Generic layout ***/
body {
   color: inherit;
   background-color: #fcfcfc;
   font-family: Arial;
   font-size: smaller;
}
pre {
   font-size: small;
}

/* links */
a {
   text-decoration: none;
}
a:link {
   color: #0000ff;
   background-color: inherit;
   text-decoration: none;
}
a:visited {
   color: #5500cc;
   background-color: inherit;
}
a:active {
   color: #551a8b;
   background-color: inherit;
   border: dotted 1px #0000ff;
}
a:hover {
   color: #0000ff;
   background-color: #eeeeff;
   text-decoration: underline;
}

/* headers */
h1, h2, h3, h4 {
   color: inherit;
   background-color: White;
   clear: both;
}
h1 {
   font-size: x-large;
   padding: 1.5em 2.5em 1.5em 2.5em;
}
h2, h3 {
   border-left: solid 0.5em Gray;
   border-right: solid 1px Gray;
   border-bottom: solid 1px Gray;
   border-top: solid 1px Gray;
}
h2 {
   margin: 3em 1em 1em 0.5em;
   padding: 1em 0em 1em 2em;
   font-size: large;
}
h3 {
   margin: 1em 2em 1em 1em;
   padding: 0.5em 0em 0.5em 1.5em;
   font-size: medium;
}

/* box with drop shadow */
div.dropshadow {
   float: left;
   clear: left;
   background: White url(shadowAlpha.png) no-repeat bottom right !important;
   background: White url(shadow.gif) no-repeat bottom right;
   margin: 10px 0 3em 50px !important;
   margin: 10px 0 3em 45px;
   padding: 0px;
}
div.withshadow {
   position: relative;
   bottom: 6px;
   right: 6px;
   border: 1px solid #999999;
   padding: 1em;
   margin: 0px 0px 0px 0px;
   text-align: center;
   color: inherit;
   background-color: White;
}

/* tabbed divs */
div.tabs {
   padding-left: 1em;
   margin-top: 3em;
   margin-left: 2em;
}
a.tab {
   border-top: solid 1px Gray;
   border-left: solid 1px Gray;
   border-right: solid 1px Gray;
   border-bottom: solid 0px Black;
   color: #777777;
   background-color: #dddddd;
   padding: 1px 0.4em 1px 0.4em;
   margin-bottom: 1px;
   position: relative;
   top: -1px;
   font-weight: bold;
   font-style: italic;
}
* html a.tab {
   /* IE only, fix pos bug */
   top: -2px;
}
a.tab:hover {
   color: inherit;
}
a.tabsel {
   border-top: solid 2px Black;
   border-left: solid 2px Black;
   border-right: solid 2px Black;
   border-bottom: solid 3px White;
   padding: 1px 0.4em 0px 0.4em;
   position: relative;
   top: -1px;
   background-color: White;
   color: Black;
   font-weight: bold;
   font-style: normal;
}
* html a.itabsel {
   /* IE only, fix pos bug */
   top: -2px;
}
a.tabsel:hover {
   text-decoration: none;
   cursor: default;
}
a.tabsel:active {
   color: Black;
   background-color: inherit;
   border-left: solid 2px Black;
   border-right: solid 2px Black;
   border-top: solid 2px Black;
   border-bottom: solid 3px White;
}
div.tabcontent {
   border: solid 2px Black; /*margin-right: auto;*/
   display: table;
   margin: 0em 2em 0em 2em;
   padding: 0.5em 0.5em 0.5em 0.5em;
}
div.tabwidth {
   width: 28em;
   height: 0pt;
}
div.tabvisible, div.tabhidden {
}

div.tabvisible {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
div.tabhidden {
   display: none;
   margin-left: auto;
   margin-right: auto;
}

div.clear {
   clear: both;
}

/* links on top of page */
#toplinks {
   border: solid 1px #aaaaff;
   padding: 0.1em 0.1em 0.1em 0.1em;
   margin-bottom: 2em;
   color: #333333;
   background-color: White;
}
div.descrhead {
   margin-top: 0.0em;
   margin-bottom: 0.0em;
   margin-left: auto;
   margin-right: auto;
   font-family: Arial;
   font-size: small;
   font-weight: bold;
}
span.descrtitle {
   display: block;
   width: 9em;
   float: left;
   padding-left: 0.3em;
}
a.descrheadentry {
   color: #0000ff;
   background-color: inherit;
   text-decoration: none;
   margin-left: 0.0em;
   margin-right: 0.0em;
   border-left: dotted 1px #000077;
   border-bottom: none;
   padding-left: 0.5em;
   padding-right: 0.5em;
   font-size: small;
   white-space: nowrap;
   font-weight: normal;
}
a.descrheadentry:visited {
   color: #0000ff;
   background-color: inherit;
   text-decoration: inherit;
}
a.descrheadentry:hover {
   color: #0000ff;
   background-color: #eeeeff;
   text-decoration: underline;
}

/* TOC */
div.toc {
   font-weight: bold;
   font-size: small;
   border: solid 1px Gray;
   margin-left: 3em;
   padding-top: 1em;
   padding-left: 1em;
   padding-right: 2em;
   float: left;
   clear: left;
}
ul.toc {
   font-weight: normal;
   list-style: none;
   padding-left: 2em;
}


/*** Index pages ***/
a.linkeddoc {
   padding-right: 3em;
   text-align: center;
   font-style: italic;
}
#furtherreading {
   margin-left: 3em;
   margin-bottom: 2em;
}

#indx {
   padding-left: 2em;
   margin-left: 0px;
}
#indx li {
   list-style: none;
   padding: 0px 0px 0px 0em;
   border: none;
   padding-left: 13em;
}
#indx li.idxl0 {
   color: inherit;
   background-color: #e7e7ff;
}
#indx span.typename {
   display: inline-block;
   font-weight: bold;
   margin-left: -13em;
   padding-right: 2em;
}

#indxShortX, #indxModules {
   border: 3px solid gray;
   padding: 8pt;
   margin-left: 2em;
}
#indxShortX h4, #indxModules h4 {
   margin-top: 0em;
   margin-bottom: 0.5em;
}
#indxShortX a, #indxModules a {
   margin-right: 0.25em;
   margin-left: 0.25em;
}

#searchform {
   margin-left: 2em;
}

/*** Class doc pages ***/
div.classdescr {
   text-align: left;
   margin-left: 0.3em;
   margin-bottom: 2em;
   padding-left: 1em;
   padding-right: 1em;
}
div.code {
   margin-bottom: 0.5em;
   margin-top: 0.5em;
   padding: 0.5em;
   border: solid 1px #ffff77;
   color: inherit;
   background-color: #ffffdd;
   float: left;
}

table.inhtree {
   color: inherit;
   background-color: White;
   border: solid 1px Black;
   width: 97%;
}
#functions {
   margin-top: 4em;
   margin-left: 0em;
   color: inherit;
   background-color: White;
   clear: both;
}
#datamembers {
   margin-top: 4em;
   margin-left: 0em;
   color: inherit;
   background-color: White;
}
div.access {
   border-left: solid 3pt black;
   padding-left: 1em;
   margin-left: 0em;
   margin-bottom: 1em;
}
#funcpubl {
   border-left-color: #77ff77;
}
#datapubl {
   border-left-color: #77ff77;
}
#enumpubl {
   border-left-color: #77ff77;
}
#funcprot {
   border-left-color: #ffff00;
}
#dataprot {
   border-left-color: #ffff00;
}
#enumprot {
   border-left-color: #ffff00;
}
#funcpriv {
   border-left-color: #ff7777;
}
#datapriv {
   border-left-color: #ff7777;
}
#enumpriv {
   border-left-color: #ff7777;
}

table.func /* but not table.data! */ {
   width: 100%;
} 
tr.func, tr.data {
   white-space: nowrap;
}
tr.datainh {
   display: none;
   white-space: nowrap;
}
tr.funcinh {
   display: none;
   white-space: nowrap;
}
span.baseclass {
   color: #aaaaaa;
   font-weight: normal;
}
td.funcret, td.datatype {
   text-align: right;
   padding: 0px 0.5em 0px 0px;
   margin: 0px 0px 0px 0px;
}
a.funcname {
   font-weight: bolder;
}
td.funcname {
   white-space: normal;
   text-indent: -2em;
   padding: 0px 0px 0px 2em;
   margin: 0px 0px 0px 0px;
   width: 100%;
}

td.dataname {
   font-weight: bolder;
   vertical-align: top;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
}
td.datadesc {
   padding: 0px 0px 0px 0.5em;
   margin: 0px 0px 0px 0px;
   white-space: normal;
   color: inherit;
   background-color: #eeeeff;
}

/* class charts */
div.classcharts {
   border: solid 2px Black;
   display: table;
   margin: 0em 2em 0em 2em;
}
div.classchartswidth {
   width: 28em;
   height: 0pt;
}
img.classcharts {
   display: block;
   border: none;
   margin-left: auto;
   margin-right: auto;
}

/* function documentation */
div.funcdoc {
   width: 97%;
   margin-bottom: 3em;
   margin-left: 0.3em;
   padding: 0.1em 0.3em 0.3em 0.3em;
   color: inherit;
   background-color: #eeeeff;
}
pre.funcdoc {
   border: solid 1px #cccccc;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   background-color: White;
   margin: 0.3em 0px 0.3em 0px;
}

/* toolbox */
#followpage {
   font-size: small;
   border: solid 2px Gray;
   position: fixed;
   top: 3em;
   right: 1em;
   z-index: 2;
   color: InfoText;
   background-color: InfoBackground;
   filter: alpha (opacity=20);
   -moz-opacity: .2;
   opacity: .2;
}
* html #followpage {
   position: absolute;
   float: right;
   right: 1em;
   top: 4em;
   filter: alpha (opacity=100);
   -moz-opacity: 1;
   opacity: 1;
}
#followpage:hover {
   filter: alpha (opacity=90);
   -moz-opacity: .9;
   opacity: .9;
}

#followpagecontenthide {
   display: none;
}
#followpagetitle {
   font-size: inherit;
   font-weight: normal;
   margin-bottom: 0.3em;
   border-bottom: solid 1px Gray;
   background-color: Gray;
   font-size: medium;
   color: White;
   text-align: center;
   padding-right: 1.1em;
}
* html #followpagetitle {
   width: auto;
}
#dispopt {
   margin: 0.3em 0.3em 0px 0.3em;
   padding-top: 0.3em;
   border-top: solid 1px Gray;
   padding-bottom: 0.3em;
   border-bottom: solid 1px Gray;
}
#formdispopt {
   margin: 0px 0.3em 0px 0.3em;
}
div.libinfo {
   margin: 0px 0.3em 0px 0.3em;
}
#followlinks {
   text-align: center;
   margin: 0.3em 0.3em 0.3em 0.3em;
}
a.followpagedisp {
   color: Black;
   background-color: #cccccc;
   width: 1em;
   position: absolute;
   right: 0.1em;
   top: 0.1em;
   font-weight: bold;
   font-size: x-small;
   font-family: Courier;
   text-decoration: none;
   padding-left: 0.3em;
   padding-right: 0.3em;
}

a.followpagedisp:hover {
   background-color: White;
}

#followpageshower {
   display: none;
   position: relative;
   top: 0em;
   left: 0em;
}
#followpagehider {
   display: inline;
}
#followpagecontent {
   display: block;
}

img.latex {
   vertical-align: middle;
}

/* Source pages */
span.comment, span.keyword, span.cpp, span.string {
   font-weight: normal;
}
span.comment {
   background-color: #eeeeee;
   color: Green;
}
span.keyword {
   color: Black;
   background-color: inherit;
}
span.cpp {
   color: Gray;
   background-color: inherit;
}
span.string {
   color: Teal;
   background-color: inherit;
}
pre.code {
   font-weight: bolder;
   margin-top: 0px;
   margin-bottom: 0px;
}
