# In this file, one should set up the environment
# needed by the ROOT build.  In particular one should
# set the path to the compiler and all the auxiliary
# variables (CERNLIB_DIR,DCACHE_DIR,etc...)

# Then one must configure the root testing build
# by setting the following compulsory variables:

ROOTLOC=/Users/pcanal/nightly/root
ROOTTESTLOC=/Users/pcanal/nightly/roottest
OSNAME="Macos 10.3"

# Then One should set ROOTSYS, ROOTBUILD and the various PATH
export ROOTSYS=$ROOTLOC
export PATH=$ROOTSYS/bin:$PATH
export LD_LIBRARY_PATH=$ROOTSYS/lib:$LD_LIBRARY_PATH
export DYLD_LIBRARY_PATH=$ROOTSYS/lib:$DYLD_LIBRARY_PATH
export ROOTBUILD=debug
export CVS_RSH=ssh

# Then one can set the optional configurations.
# There are listed below with their default value

# Set the name of the make command and the potential options
# (like -j3 for example).
#MAKE=gmake
#ROOT_MAKEFLAGS=
#ROOTTEST_MAKEFLAGS=
#CONFIGURE_OPTION=

# Set the expected result for stress and stressFit on this
# machine
#ROOTMARKS=n/a
#FITROOTMARKS=n/a

#export CVSROOT=:pserver:cvs@root.cern.ch:/user/cvs 

# Set the location where to upload the log files.
# This will be passed to scp.
#UPLOAD_LOCATION=flxi02:/afs/.fnal.gov/files/expwww/root/html/roottest/

# Show the activity on the machine.  Set to 'no' if not needed
#SHOW_TOP=yes

# If SHOW_TOP is yes, this command will be used to acquire the 
# level of idleness of the machine.
#IDLE_COMMAND='top n 1 b C | grep total | sed -e "s/ [ ]*/ /g" | cut -d" " -f9 | sed -e "s:%::" '

