name: clang-tools code analysis

on: pull_request
  # push:
  #   branches: [ $default-branch ]
  # pull_request:
  #   branches: [ $default-branch ]

jobs:
  clang-format:
    runs-on: ubuntu-latest
    env:
      TRAVIS_BRANCH: ${{ github.base_ref }} 
      TRAVIS_PULL_REQUEST_BRANCH: ${{ github.head_ref }}
      BASE_COMMIT: ${{ github.event.pull_request.base.sha }}
    steps:
    - uses: actions/checkout@v2
    - name: Fetch base_ref HEAD
      run: git fetch --depth=1 origin +refs/heads/${{github.base_ref}}:refs/remotes/origin/${{github.base_ref}}
    - name: run clang-format script
      run: .ci/format_script.sh
