# This contains the workflow definitions that allow users to create
# backports of selected PRs with a comment of the form:
#   /backport to BR1, BR2, ..., BR N
# where BRi is of the form MAJOR.MINOR, e.g. 6.32 or 7.02
#
# This file has been created after studying https://github.com/llvm/llvm-project/blob/release/22.x/.github/workflows/issue-release-workflow.yml
#

name: Backport PR

permissions:
  contents: read

on:
  issue_comment:
    types:
      - created
      - edited
  issues:
    types:
      - opened

env:
  COMMENT_BODY: ${{ github.event.comment.body  }}

jobs:
  backport-commits:
    name: Backport PR
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    if: >-
      (github.repository == 'root-project/root') &&
      !startswith(github.event.comment.body, '<!--IGNORE-->') &&
      contains(github.event.comment.body, '/backport to')
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: root-project/root
          # GitHub stores the token used for checkout and uses it for pushes
          # too, but we want to use a different token for pushing, so we need
          # to disable persist-credentials here.
          persist-credentials: false
          fetch-depth: 0

      - name: Backport Commits
        run: |
          cd root && .github/workflows/utilities/backport_pr.py \ 
          --comment "$COMMENT_BODY" \
          --pull ${{ github.event.pull_request.number }} \
          --requestor ${{ github.event.comment.user.login }} \
          --pr-token ${{ secrets.PR_CREDENTIALS_TOKEN }} \
          --push-token ${{ secrets.BOT_PUSH_CREDENTIALS_TOKEN }}
