name: 'ROOT CI'

on:
  # https://github.com/root-project/root/pull/12112#issuecomment-1411004278
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'doc/**'
      - 'documentation/**'

  push:
    branches:
      - 'master'
      - 'v*-*-*-patches'

  # Allows nightly builds to trigger one run for each branch easily, by
  # providing the relevant branch as "default" value here:
  workflow_call:
    inputs:
      head_ref:
        type: string
        default: master
      base_ref:
        type: string
        default: master
      ref_name:
        type: string
        default: master

  # Enables manual start of workflow
  workflow_dispatch:
    inputs:
      head_ref:
        description: rebase from ...
        type: string
        required: true
        default: master
      base_ref:
        description: ... to ... (can have same value)
        type: string
        required: true
        default: master
      incremental:
        description: 'Do incremental build'
        type: boolean
        required: true
        default: true
      binaries:
        description: Create binary packages and upload them as artifacts
        type: boolean
        required: true
        default: false
      buildtype:
        description: The CMAKE_BUILD_TYPE to use for non-Windows.
        type: choice
        options:
        - Debug
        - RelWithDebInfo
        - Release
        - MinSizeRel
        default: Debug
        required: true

env:
  PYTHONUNBUFFERED: true
  OS_APPLICATION_CREDENTIAL_ID: '7f5b64a265244623a3a933308569bdba'
  OS_APPLICATION_CREDENTIAL_SECRET: ${{ secrets.OS_APPLICATION_CREDENTIAL_SECRET }}
  OS_AUTH_TYPE: 'v3applicationcredential'
  OS_AUTH_URL: 'https://keystone.cern.ch/v3'
  OS_IDENTITY_API_VERSION: 3
  OS_INTERFACE: 'public'
  OS_REGION_NAME: 'cern'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  build-macos:
    # For any event that is not a PR, the CI will always run. In PRs, the CI
    # can be skipped if the tag [skip-ci] or [skip ci] is written in the title.
    if: |
        (github.repository_owner == 'root-project' && github.event_name != 'pull_request') ||
        (github.event_name == 'pull_request' && !(contains(github.event.pull_request.title, '[skip-ci]') || contains(github.event.pull_request.title, '[skip ci]')))

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        # Specify platform + (optional) build option overrides
        #
        # Common configs: {Release,Debug,RelWithDebInfo)
        # Build options: https://root.cern/install/build_from_source/#all-build-options
        include:
          - platform: mac12
          - platform: mac13   
            overrides: ["LLVM_ENABLE_ASSERTIONS=On", "builtin_zlib=ON"]
          - platform: mac14
            overrides: ["LLVM_ENABLE_ASSERTIONS=On", "CMAKE_CXX_STANDARD=20"]
          - platform: mac-beta
            overrides: ["LLVM_ENABLE_ASSERTIONS=On", "CMAKE_CXX_STANDARD=20"]

    runs-on: # Using '[self-hosted, ..., ...]' does not work for some reason :)
      - self-hosted
      - macOS
      - ${{ matrix.platform }}

    name: |
      ${{ matrix.platform }}
      ${{ (github.event_name != 'schedule' && github.event_name != 'workflow_dispatch' && join( matrix.overrides, ', ' )) || '' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref_name }}

      - name: Apply option overrides from matrix for this job for non-release builds
        if: ${{ github.event_name != 'schedule' && github.event_name != 'workflow_dispatch' && matrix.overrides != NaN }}
        env:
          OVERRIDES: ${{ join( matrix.overrides, ' ') }}
          CONFIGFILE: '.github/workflows/root-ci-config/buildconfig/${{ matrix.platform }}.txt'
        shell: bash
        run: |
          set -x

          echo '' >> "$CONFIGFILE"

          for ENTRY in $OVERRIDES; do
              KEY=$( echo "$ENTRY" | cut -d '=' -f 1 )

              # Add entry to file if not exists, otherwise replace

              if grep -q "$KEY=" "$CONFIGFILE"; then
                  sed -i "s/$KEY=.*\$/$ENTRY/" "$CONFIGFILE"
              else
                  echo "$ENTRY" >> "$CONFIGFILE"
              fi
          done

          cat "$CONFIGFILE" || true

      - uses: root-project/gcc-problem-matcher-improved@main
        with:
          build-directory: /Users/sftnight/ROOT-CI/src/

      - name: Pull Request Build
        if: github.event_name == 'pull_request'
        env:
          INCREMENTAL: ${{ !contains(github.event.pull_request.labels.*.name, 'clean build') }}
          GITHUB_PR_ORIGIN: ${{ github.event.pull_request.head.repo.clone_url }}
        run: ".github/workflows/root-ci-config/build_root.py
                    --buildtype       RelWithDebInfo
                    --incremental     $INCREMENTAL
                    --base_ref        ${{ github.base_ref }}
                    --sha             ${{ github.sha }}
                    --pull_repository ${{ github.event.pull_request.head.repo.clone_url }}
                    --head_ref        refs/pull/${{ github.event.pull_request.number }}/head:${{ github.event.pull_request.head.ref }}
                    --head_sha        ${{ github.event.pull_request.head.sha }}
                    --repository      ${{ github.server_url }}/${{ github.repository }}
                    --platform        ${{ matrix.platform }}"

      - name: Workflow dispatch
        if:   github.event_name == 'workflow_dispatch'
        run: ".github/workflows/root-ci-config/build_root.py
                    --buildtype      ${{ inputs.buildtype }}
                    --platform       ${{ matrix.platform }}
                    --incremental    ${{ inputs.incremental }}
                    --base_ref       ${{ inputs.base_ref }}
                    --head_ref       ${{ inputs.head_ref }}
                    --binaries       ${{ inputs.binaries }}
                    --repository     ${{ github.server_url }}/${{ github.repository }}"

      - name: Nightly build
        if:   github.event_name == 'schedule'
        run: ".github/workflows/root-ci-config/build_root.py
                    --buildtype      Release
                    --platform       ${{ matrix.platform }}
                    --incremental    false
                    --binaries       true
                    --base_ref       ${{ inputs.ref_name }}
                    --repository     ${{ github.server_url }}/${{ github.repository }}"

      - name: Update build cache after push to release branch
        if:   github.event_name == 'push'
        run: ".github/workflows/root-ci-config/build_root.py
                    --buildtype      RelWithDebInfo
                    --platform       ${{ matrix.platform }}
                    --incremental    false
                    --base_ref       ${{ github.ref_name }}
                    --binaries       ${{ startsWith(github.ref, 'refs/tags/') }}
                    --repository     ${{ github.server_url }}/${{ github.repository }}"

      - name: Upload test results
        if:   ${{ !cancelled() }}
        uses: actions/upload-artifact@v3
        with:
          name: Test Results ${{ matrix.platform }}
          path: /Users/sftnight/ROOT-CI/build/TestResults.xml

      - name: Upload binaries
        if:   ${{ !cancelled() && (inputs.binaries || github.event_name == 'schedule' || startsWith(github.ref, 'refs/tags/')) }}
        uses: actions/upload-artifact@v3
        with:
          name: Binaries ${{ matrix.platform }}
          path: /Users/sftnight/ROOT-CI/packages/root_v*
          if-no-files-found: error
